<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  
  <!-- temporary style file -->
  <link rel="stylesheet" href="public/css/main.css">
  <link rel="stylesheet" href="public/css/project.css">
</head>
<body>
  <header>
    <h1>
      <a href="/">Issue Tracker</a>
    </h1>
  </header>
  <main>
    <div id='loading-div'></div>
    <div class='project'>
      <div class='issue-list'>
        <button id='filter-issues'>filter issues</button>
      </div>      
      <div class='issue-view'>
        <h2></h2>
        <div class='inner-issue-wrapper'></div>
      </div>
    </div>
  </main>
  <footer></footer>
  <script src="public/js/project.js"></script>
</body>
</html>