@import 'variables';

.button-not-emphasized {
  box-shadow: unset;
  background: transparent;    
  color: inherit;
  border-radius: $radius-large;
  transition: all 100ms ease-out;
}

.button-not-emphasized:hover {
  box-shadow: $box-shadow;
  transform: scale(1.1);
}

.button-not-emphasized:active {
  color: $on-primary-color;
}

.button-neutral {
  box-shadow: unset;
  background: transparent;
  color: inherit;
}

.button-neutral:hover {
  color: $primary-color;
  border-bottom: $border-xs dashed $primary-color;
}

.button-neutral:active {
  color: $primary-color-dark;
}

.no-bottom:hover {
  color: $primary-color;
  border-bottom: none;
}

.button-warning {
  background: $error-color;
  color: $on-primary-color-dark;
}

.button-warning:hover {
  background: $surface-color;
  color: $error-color;
}

.open-true {
  background: green;
  color: $surface-color;
  left: 0;
  transition: all 100ms ease-out;
}

.open-false {
  background: $error-color;
  color: $surface-color;
  left: 13.5px;
  transition: all 100ms ease-out;
}

.temp-info-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;  
  background: $shadow-background;
  animation-name: flash-info;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.temp-info-inner {
  opacity: 1;
  background: $on-primary-color-dark;
  padding: $padding-xl;
  color: $on-primary-color;
  border-radius: $radius;
  font-size: $h3-size;
  border-top: $border-large solid $primary-color-dark;
}

@keyframes flash-info {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.adding-element {
  position: relative;  
  right: 200vw;  
  animation-name: jump-in;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
} 

@keyframes jump-in {
  0% {
    right: 200vw;
    transform: scale(1.05);
  }
  60% {
    right: -5vw;
    transform: scale(1.05);
  }
  80% {
    right: 0;
    transform: scale(1.05);
  }
  100% {
    right: 0; 
    transform: scale(1);
  }
}

.removing-element {
  position: relative;
  left: 0;
  animation-name: jump-out;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes jump-out {  
  0% {
    left: 0; 
    transform: scale(1);
  }
  20% {
    left: 0;
    transform: scale(1.05);
  }
  40% {
    left: -5vw;
    transform: scale(1.05);
  }
  100% {
    left: 200vw;
    transform: scale(1.05);
  }
}

.adding-form {  
  right: 200vw;  
  animation-name: jump-in-form;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes jump-in-form {
  0% {
    right: 200vw;
    transform: scale(1.05);
  }
  60% {
    right: calc(-3%);
    transform: scale(1.05);
  }
  80% {
    // right: auto;
    right: calc(10%);
    transform: scale(1.05);
  }
  100% {
    right: calc(10%); 
    transform: scale(1);
  }
}

.removing-form {  
  right: calc(10%);
  animation-name: jump-out-form;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes jump-out-form {  
  0% {
    right: calc(10%);     
    transform: scale(1);
  }
  20% {
    right: calc(10%);    
    transform: scale(1.05);
  }
  40% {
    right: calc(26%);
    transform: scale(1.05);
  }
  100% {
    right: -200vw;
    transform: scale(1.05);
  }
}
