@import 'variables';

@media (max-width: 550px) {
  .project {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 

    h2 {
      margin: 0 0 $margin-xl;
      width: 100%;
    }
  }

  .issue-list {
    display: none;
    max-width: unset;
    margin: 0;
  }

  .list-item {
    margin: $margin-large;
  }

  .show-list {
    position: absolute;  
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-top: $padding-xl;    
    padding-bottom: $padding-xl;
    background: $surface-color;
    box-shadow: $box-shadow;
    box-sizing: border-box;
    animation-name: scroll;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    transform-origin: top center;
    perspective: 1000px;
    perspective-origin: 0 -200%;

    button {
      margin-bottom: $margin-xl;
    }
  }

  @keyframes scroll {
    0% {
      transform: rotateX(-90deg);
    }
    100% {
      transform: rotateX(0);
    }
  }

  @keyframes jump-in-form {
  0% {
    right: 200vw;
    left: -200vw;
    transform: scale(1.05);
  }
  60% {
    right: calc(-3%);
    left: calc(23%);
    transform: scale(1.05);
  }
  80% {
    right: calc(10%);
    left: calc(10%);
    transform: scale(1.05);
  }
  100% {
    right: calc(10%);
    left: calc(10%);
    transform: scale(1);
  }
}

@keyframes jump-out-form {  
  0% {
    right: calc(10%);
    left: calc(10%);
    transform: scale(1);
  }
  20% {
    right: calc(10%);    
    left: calc(10%);
    transform: scale(1.05);
  }
  40% {
    right: calc(26%);
    left: calc(-6%);
    transform: scale(1.05);
  }
  100% {
    right: -200vw;
    left: 200vw;
    transform: scale(1.05);
  }
}

  .issue-view {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inner-issue-wrapper {    
    margin: auto;
  }

  #issue-list-btn {
    display: initial;
  }

  .form-section {
    padding: $padding-xl;
    width: auto;
    min-height: 60vh;
    padding: $padding-xl;
    transform: translateY(calc(50%));
  }
}

