@import 'base';
@import 'common-classes';

.project-click-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  max-width: 500px;
  font-size: 1.6rem;
  margin: 2rem;
  padding: $padding-large;
  box-shadow: $box-shadow;
  transition: $transition-basic;

  a {
    flex-grow: 0.8;     
    text-overflow: hidden;
    overflow: hidden; 
    white-space: nowrap;
  }
}

.project-click-box:active {
  transform: scale(0.98);
  box-shadow: unset;
}

.projects {
  margin: $margin-xl 0;
  padding: $padding-xl;
}