@import 'base';
@import 'common-classes';

.project-click-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  max-width: 500px;
  font-size: 1.6rem;
  margin: 2rem;
  padding: $padding-large;
  box-shadow: $box-shadow;
  transition: $transition-basic;

  a {
    flex-grow: 0.8;     
    text-overflow: hidden;
    overflow: hidden; 
    white-space: nowrap;
  }
}

.project-click-box:active {
  transform: scale(0.98);
  box-shadow: unset;
}

.projects {
  padding: $padding-xl;
}

.adding-project {
  position: relative;  
  right: 200vw;  
  animation-name: jump-in;
  animation-duration: 1800ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
} 

@keyframes jump-in {
  0% {
    right: 200vw;
    transform: scale(1.05);
  }
  60% {
    right: -5vw;
    transform: scale(1.05);
  }
  80% {
    right: 0;
    transform: scale(1.05);
  }
  100% {
    right: 0; 
    transform: scale(1);
  }
}

.removing-project {
  position: relative;
  left: 0;
  animation-name: jump-out;
  animation-duration: 1800ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes jump-out {  
  0% {
    left: 0; 
    transform: scale(1);
  }
  60% {
    left: 0;
    transform: scale(1.05);
  }
  80% {
    left: -5vw;
    transform: scale(1.05);
  }
  100% {
    left: 200vw;
    transform: scale(1.05);
  }
}
