html, body {
  margin: 0;
  min-height: 100%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: gray;
}

#loading-div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: loading 3s ease-in-out;  
  animation-iteration-count: infinite;
}

#loading-div::before {
  content: '';
  display: block;
  position: relative;
  width: 20px;
  height: 20px; 
  border-radius: 50%;
  background: red;
}

#loading-div::after {
  content: '';
  display: block;
  position: relative;
  width: 20px;
  height: 20px; 
  left: 90px;  
  top: 50px;
  border-radius: 50%;
  background: yellow;
}

.index-content {
  display: none;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}