@import 'base';
@import 'common-classes';

.project {
  display: none;
}

.form-section { 
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  min-height: 72vh;
  margin: auto;  
  box-shadow: $box-shadow;  
  background: #fafafa;
  color: $shadow-color;
}

.form-section h3 {
  margin-bottom: $margin-xl;
  color: $on-primary-color;
  border-bottom: $border-xs dashed $primary-color-light;  
}

.form-section input {
  border: none;
  border-bottom: $border-xs dotted $shadow-color;
}

.form-section button {
  position: relative;
  top: 5px;
}

#filter-issues-btn {
  text-decoration: none;
  color: $primary-color;
}

#filter-issues-btn:active {
  color: $shadow-color;
}

#openBtn {
  width: 27px;
  height: 15px;
  padding: 0;
  background: $surface-color;
  box-shadow: $box-shadow;
  border-radius: 8px;
}

#btnSwitch {
  position: relative;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

#open-div {  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.project {  
  flex-direction: row;
  width: 100vw;
  margin: 0;  

  h2 {
    background: linear-gradient(to right, $primary-color 10%, $surface-color 90%);
    color: $on-primary-color;
    padding: $padding-large;
    border-radius: $radius;
    margin-bottom: $margin-xl;
    margin-right: $margin;
    // box-shadow: $box-shadow;
  }
}

.issue-list {
  padding: 0 $padding-xl;
  width: 15%;  
  max-width: 200px;
  margin: 0 $margin-xl auto;

  button {
    margin-bottom: 0 $margin;
  }
}

.issue-view {
  width: 80%;
  min-width: 350px;
  margin: 0 $margin;
}

.inner-issue-wrapper {
  box-shadow: $box-shadow;
  margin-right: $margin-xl;
  margin-bottom: $margin;
  padding: $padding-xl $padding-large;

  h3 {
    padding-bottom: $padding-large;
  }

  h3, p {
    padding-top: $padding-large;
  }

  p {
    color: $on-primary-color;
  }

  i {
    color: $shadow-color;
  }
}


#edit-issue-btn, #delete-issue-btn {
  margin-top: $margin-large;
}

#issue-text {
    border: $border-xs dashed $shadow-color;
    margin-top: $margin-large;
    padding: $padding-large;
  }

.list-item {
  margin: $margin 0;
  color: $shadow-color;
  cursor: pointer;
}

.list-item:hover {
  color: $primary-color-light;
}

.list-item:active {
  color: $primary-color-dark;
}

.text-placeholder {
  color: $shadow-color !important;
  text-align: center;
  border: none;
}